[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
flask-wtf = "*"

[scripts]
dev="flask run"

[dev-packages]

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
